name: Build and deploy Node.js app to Azure Web App - radis-backend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # Setup Node
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          cache: 'npm'

      # Install dependencies
      - name: Install dependencies
        run: npm ci

      # Build NestJS project (creates dist/)
      - name: Build project
        run: npm run build

      # Upload full project including dist/
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: |
            .
          retention-days: 1

  deploy:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      id-token: write
      contents: read

    steps:
      # Download build artifact
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app

      # Login to Azure
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_3DCD60BA58CE40CEB593E51A31197DD4 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_50B82BF41E3E4074814877F179B68674 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D23C57B71C054CE18D75C000985B1B3B }}

      # Deploy to Azure Web App
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: radis-backend
          slot-name: Production
          package: .
